body {
    padding-top: 54px;
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.publication-item {
    color: #fff;
    background-color: #aab2b8;
}

footer {
    height: 50px;
}

.field-required_star {
    color: red;
}

.article-item .row {
    margin: 15px 0;
}

.article-item .article-item-header {
    color: #575757;
    background-color: #e2e2e2;
    font-size: 15px;
}

.cabinet-item:hover {
    background-color: #dcdcdc;
    color: #00a7d0;
}

.publication-tipe-title {
    text-decoration: underline;
    color: #0d6aad;
}


/* Tokenfield Tag Input*/
.tokenfield .token {
    border: 2px solid rgba(0, 102, 203, 0.8);
    background-color: rgba(0, 85, 170, 0.8);
    height: 25px;
    font-size: 14px;
    color: #fff1f8;
}

a.close {
    color: #FFFFFF;
}
