body {
    padding-top: 54px;
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.publication-item {
    color: #fff;
    background-color: #aab2b8;
}

footer {
    height: 50px;
}

.field-required_star {
    color: red;
}
